body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#canvas {
  background-color: #CCC;
}
#clearBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 50px;
  font-size: large;
}